@import "tailwindcss";
@font-face {
  font-family: "PretendardVariable";
  src: url("/public/fonts/PretendardVariable.ttf") format("truetype");
}
body {
  width: 100%;
  min-width: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: "PretendardVariable";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
